<p>
    observe-page works!
</p>
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Name</th>
            <th class="text-center">Email</th>
            <th class="text-center">City</th>
        </tr>

        </thead>

        <tbody>
        <tr *ngFor="let userDataFromUrl of urlDataToMethod">
            <td>{{userDataFromUrl.id}}</td>
            <td>{{userDataFromUrl.name}}</td>
            <td>{{userDataFromUrl.email}}</td>
            <td>{{userDataFromUrl.address.city}}</td>
        </tr>

        </tbody>

    </table>
</div>